apiVersion: apps/v1
kind: Deployment
metadata:
  name: audit-service
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: audit-service
  template:
    metadata:
      labels:
        app: audit-service
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
      imagePullSecrets:
        - name: ghcr-auth
      containers:
        - name: audit-service
          image: ghcr.io/Andresm98/devsecops-audit-ms-audit-service:sha-841606200b013e320690bae12f7c5073beea8f98
          imagePullPolicy: Always # Ahora sí, la última de GHCR
          ports:
            - containerPort: 8080
          resources:
            limits:
              cpu: "200m"
              memory: "256Mi"
            requests:
              cpu: "100m"
              memory: "128Mi"
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true # Blindaje total